<%- include partials/header %> <!-- Include the header partial -->
<% include partials/main_nav %> <!-- Include the navigation bar partial -->
    <h1><%= message %></h1> 
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
<%- include partials/footer %> <!-- Include the footer partial -->
